<!DOCTYPE html>
<html>

    {% include head/default.html %}

    <body>
        <div id="container">
			<div id="progress"></div>
			<header id="header">
				<div id="logo">
					<a href="/">JW</a>
				</div>
				<nav>
					<ul>
						<li class="home"><a href="/">Home</a></li>
						<li><a href="/writing/">Writing</a></li>
						<li><a href="/projects/">Projects</a></li>
						<li><a href="/reading/">Reading</a></li>
						<li><a href="/trips/">Trips</a></li>
						<li><a href="/now/">Now</a></li>
						<li><a href="/resume/">Résumé</a></li>
						<li><a href="/about/">About</a></li>
					</ul>
				</nav>
				<div class="title" id="masthead-title">
					<h1>This is the current page title</h1>
				</div>
			</header>

			<div class="content">
            	{{ content }}
			</div>

        </div>

        {% include scripts/default.html %}

    </body>
</html>