/*
*	GENERAL STYLES
*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	}

html {
	font-size: 62.5%;
	}

body {
	color: #444;
	font-family: 'Raleway', sans-serif;
	}

.right {
	float: right;
	}

.left {
	float: left;
	}

.hidden {
	display: none;
	}

/*
*	CONTAINER STYLES
*/

#container {
	display: flex;
	flex-direction: row;
	}

/*
*	PROGRESS STYLES
*/

#progress {
	background-image: linear-gradient(to bottom, #EC3384 0%, transparent 100%);
	overflow: hidden;
	width: 5px;
	min-width: 5px;
	}

/*
*	HEADER STYLES
*/

#header {
	height: 60px;
	width: 100%;
	display: inline;
	box-shadow: 0 1px rgba(0, 0, 0, 0.05), 0 1px 5px rgba(0, 0, 0, 0.1);
	z-index: 10;
	background: #FFF;
	top: 0;
	left: 0;
	position: absolute;
	font-family: 'Montserrat';
	font-weight: 500;
	text-transform: uppercase;
	line-height: 40px;
	font-size: 1.4rem;
	}

#logo {
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	}

#logo a {
	display: block;
	font-weight: 700;
	font-size: 3.2rem;
	color: #EC3384;
	letter-spacing: -0.03rem;
	text-decoration: none;
	padding: 10px 20px;
	}

#header nav {
	float: left;
	padding: 0 10px;
	}

#header nav ul {
	list-style: none;
	}

#header nav ul li {
	display: inline-block;
	float: left;
	letter-spacing: 0.08rem;
	}

#header nav ul li a {
	display: inline-block;
	padding: 10px;
	}

#header .title {
	float: right;
	padding: 10px 50px;
	margin-left: 30px;
	text-transform: none;
	display: block;
	overflow: hidden;
	}

#header .title h1 {
	font-weight: 500;
	font-size: 1.4rem;
	}

.content {
	width: 80rem;
	margin: 150px 400px;
	}


h1 {
	font-family: 'Montserrat';
	font-size: 12.0rem;
	color: #EC3384;
	}
h1::after {
	content: '.';
	}
h2 {
	font-family: 'Montserrat';
	font-size: 2.8rem;
	font-weight: 700;
	}

p {
	font-size: 2.2em;
	max-width: 40em;
	line-height: 1.5em;
	margin-bottom: 30px;

}

.red {
	color: #EC3384;
	}

.blue {
	color: #39A8BB;
	}

.green {
	color: #8CC13D;
	}

.yellow {
	color: #dbd947;
	}

.orange {
	color: #F27A2D;
	}

.purple {
	color: #853C95;
	}


a {

	text-decoration: none;
	}

